colorama==0.4.6 ; python_version >= "3.9" and python_version < "3.13" and (sys_platform == "win32" or platform_system == "Windows")
dataconf==3.3.0 ; python_version >= "3.9" and python_version < "3.13"
exceptiongroup==1.2.2 ; python_version >= "3.9" and python_version < "3.11"
iniconfig==2.0.0 ; python_version >= "3.9" and python_version < "3.13"
isodate==0.6.1 ; python_version >= "3.9" and python_version < "3.13"
llvmlite==0.42.0 ; python_version >= "3.9" and python_version < "3.13"
mpire==2.10.2 ; python_version >= "3.9" and python_version < "3.13"
numba==0.59.1 ; python_version >= "3.9" and python_version < "3.13"
numpy==1.26.4 ; python_version >= "3.9" and python_version < "3.13"
packaging==24.2 ; python_version >= "3.9" and python_version < "3.13"
pluggy==1.5.0 ; python_version >= "3.9" and python_version < "3.13"
pygments==2.18.0 ; python_version >= "3.9" and python_version < "3.13"
pyhocon==0.3.61 ; python_version >= "3.9" and python_version < "3.13"
pyparsing==3.2.0 ; python_version >= "3.9" and python_version < "3.13"
pyqtgraph==0.13.7 ; python_version >= "3.9" and python_version < "3.13"
pyside6-addons==6.8.0.2 ; python_version >= "3.9" and python_version < "3.13"
pyside6-essentials==6.8.0.2 ; python_version >= "3.9" and python_version < "3.13"
pyside6==6.8.0.2 ; python_version >= "3.9" and python_version < "3.13"
pytest-qt==4.4.0 ; python_version >= "3.9" and python_version < "3.13"
pytest==8.3.3 ; python_version >= "3.9" and python_version < "3.13"
python-dateutil==2.9.0.post0 ; python_version >= "3.9" and python_version < "3.13"
pywin32==308 ; python_version >= "3.9" and python_version < "3.13" and platform_system == "Windows"
pyyaml==6.0.2 ; python_version >= "3.9" and python_version < "3.13"
resampy==0.4.3 ; python_version >= "3.9" and python_version < "3.13"
scipy==1.13.1 ; python_version >= "3.9" and python_version < "3.13"
shiboken6==6.8.0.2 ; python_version >= "3.9" and python_version < "3.13"
six==1.16.0 ; python_version >= "3.9" and python_version < "3.13"
tomli==2.1.0 ; python_version >= "3.9" and python_version < "3.11"
tqdm==4.67.0 ; python_version >= "3.9" and python_version < "3.13"
typing-extensions==4.12.2 ; python_version >= "3.9" and python_version < "3.13"
